<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container">
        <a class="navbar-brand" href="/">
            <img
                src="https://seeklogo.com/images/P/pokeball-logo-DC23868CA1-seeklogo.com.png"
                alt="Pokeball Logo"
                width="30"
                height="30"
                class="d-inline-block align-top me-2"
            />
            Pokémon Portal
        </a>
        <ul class="navbar-nav me-auto">
            <li class="nav-item">
                <a class="nav-link" href="/quiz">Quiz</a>
            </li>
        </ul>
        <button
            class="navbar-toggler"
            type="button"
            data-bs-toggle="collapse"
            data-bs-target="#navbarSupportedContent"
            aria-controls="navbarSupportedContent"
            aria-expanded="false"
            aria-label="Toggle navigation"
        >
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item dropdown">
                    <a
                        class="nav-link dropdown-toggle"
                        href="#"
                        id="navbarDropdown"
                        role="button"
                        data-bs-toggle="dropdown"
                        aria-expanded="false"
                    >
                        <% if (language === 'ru') { %>Язык<% } else { %>Language<% } %>
                    </a>
                    <ul class="dropdown-menu" aria-labelledby="navbarDropdown">
                        <li>
                            <a class="dropdown-item" href="" onclick="changeLanguage('en')"
                                ><% if (language === 'ru') { %>Английский<% } else { %>English<% } %></a
                            >
                        </li>
                        <li>
                            <a class="dropdown-item" href="" onclick="changeLanguage('ru')"
                                ><% if (language === 'ru') { %>Русский<% } else { %>Russian<% } %></a
                            >
                        </li>
                    </ul>
                </li>
                <% if (!user) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/login"><% if (language === 'ru') { %>Войти<% } else { %>Login<% } %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/register"
                        ><% if (language === 'ru') { %>Зарегистрироваться<% } else { %>Register<% } %></a
                    >
                </li>
                <% } else { %>
                <li class="nav-item">
                    <a class="nav-link" href=""
                        ><% if (language === 'ru') { %>Добро пожаловать, <% } else { %>Welcome, <% } %><%= user.username %></a
                    >
                </li>
                <% if(user.isAdmin) { %>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/info"><% if (language === 'ru') { %>Информация<% } else { %>Information<% } %></a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="/admin/users"><% if (language === 'ru') { %>Пользователи<% } else { %>Users<% } %></a>
                </li>
                <% } %>
                <li class="nav-item">
                    <a class="nav-link" href="/auth/logout"><% if (language === 'ru') { %>Выйти<% } else { %>Logout<% } %></a>
                </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
